Repository qdbp/pulp-lparray: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest, autoversion

mypy:
  name: mypy
  language: system
  entry: .venv/bin/mypy
  args:
  - --config-file=mypy.ini

pytest:
  name: pytest
  language: system
  entry: /usr/bin/pytest
  args:
  - tests
  pass_filenames: false

autoversion:
  name: autoversion
  entry: /usr/bin/bash
  language: system
  args:
  - -c
  - 'sed -ri -e "s/(__version__ = .[0-9]+\.[0-9]+\.)[0-9]+/\1$(date +%Y%m%d%H%M%S)/g" setup.py && git add setup.py
  
    '
  pass_filenames: false

Replace depricated np.object
  pulp_lparray/lparray.py
Due: mypy, pytest, autoversion

Update readme example
  README.md
Due: none

Update the docstring of abs_decompose
  pulp_lparray/lparray.py
Due: mypy, pytest, autoversion

Added support for the elastic sub-problem
  .gitignore
  pulp_lparray/lparray.py
  tests/test_lparray.py
Due: mypy, pytest, autoversion

minor fixed and cleanup
  README.md
  tests/test_lparray.py
Due: pytest, autoversion

Modernize build with uv, add ruff/ty, fix NumPy 2.x
  mypy.ini
  pulp_lparray/lparray.py
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  requirements.txt
  setup.cfg
  setup.py
  tests/test_lparray.py
  uv.lock
Due: mypy, pytest, autoversion

Enable ruff UP typing modernizations
  pulp_lparray/lparray.py
  pyproject.toml
Due: mypy, pytest, autoversion

Remove UP ignore comment
  pyproject.toml
Due: none

Enable ruff ANN (type annotation strictness)
  pulp_lparray/lparray.py
  pyproject.toml
  tests/test_lparray.py
Due: mypy, pytest, autoversion

Enable ruff PGH (type-ignore hygiene)
  pyproject.toml
Due: none

Enable ruff PLR (with targeted ignore)
  pyproject.toml
Due: none

Enable ruff S and keep asserts ignored
  pyproject.toml
Due: none

Enable ruff T20 (no print)
  pyproject.toml
  tests/test_lparray.py
Due: pytest, autoversion

Enable ruff SIM
  pulp_lparray/lparray.py
  pyproject.toml
Due: mypy, pytest, autoversion

Enable ruff NPY
  pyproject.toml
  tests/test_lparray.py
Due: pytest, autoversion

Enable ruff INP
  pyproject.toml
  tests/__init__.py
Due: pytest, autoversion

Enable ruff FIX
  pulp_lparray/lparray.py
  pyproject.toml
Due: mypy, pytest, autoversion

Enable ruff TD
  pyproject.toml
Due: none

Enable ruff W605
  pulp_lparray/lparray.py
  pyproject.toml
Due: mypy, pytest, autoversion

Enable ruff PT015
  pulp_lparray/lparray.py
  pyproject.toml
Due: mypy, pytest, autoversion

Add abs_clip helper to avoid kwargs footgun
  pulp_lparray/lparray.py
Due: mypy, pytest, autoversion

Add argmax/argmin one-hot selector primitive
  pulp_lparray/lparray.py
  tests/test_lparray.py
Due: mypy, pytest, autoversion

Add top-k selection, one-hot, all-different, indicator, and SOS2 primitives
  pulp_lparray/lparray.py
  tests/test_lparray.py
Due: mypy, pytest, autoversion

Add logistics demo example and README section
  README.md
  examples/__init__.py
  examples/logistics_facility_topk_pwl.py
  tests/test_lparray.py
Due: pytest, autoversion

Modernize pre-commit hooks (uv + ruff + ty + pytest)
  .envrc
  .pre-commit-config.yaml
Due: none

Path conditions:
  mypy: any of: pulp_lparray and \.py$ and not (tests)
  pytest: any of: \.py$
  autoversion: any of: \.py$
